<%= render partial: "shared/header" %>

<div class="container">

  <h1> Contact </h1>

  <ul>
    <li> mathieu.voland@gmail.com</li>
    <li> <a href="https://github.com/mvoland/"> github.com/mvoland </a> </li>
    <li>Discord server 349251339747852290 (THP)</li>
  </ul>

</div>